Q 20) Calculate probability from the given dataset for the below cases

Data _set: Cars.csv Calculate the probability of MPG of Cars for the below cases. MPG <- Cars$MPG

a. P(MPG>38)

b. P(MPG<40)

c. P (20<MPG<50)

In [2]:
import pandas as pd 
import numpy as np

In [3]:
from scipy import stats

In [4]:
cars = pd.read_csv('Cars.csv')
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [5]:
cars.MPG.mean()

34.422075728024666

In [9]:
cars.MPG.std()

9.131444731795982

In [6]:
#a)p(MPG>38)
1-stats.norm.cdf(38,loc=34.42,scale=9.1314)

0.3475092341147411

In [7]:
#b)P(MPG<40)
stats.norm.cdf(40,loc=34.42,scale=9.1314)

0.7294261134168161

In [8]:
#c) P(20<MPG<50)
stats.norm.cdf(0.50,loc=34.42,scale=9.1314)-stats.norm.cdf(0.20,loc=34.42,scale=9.1314)

1.2440728431841074e-05